# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.pytest_cache/
.coverage
htmlcov/

# === Środowiska wirtualne ===
venv/
.venv/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# === Django ===
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# === Zmienne środowiskowe i sekrety ===
.env
.secrets
*.pot

# === Edytory i IDE ===
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

